<!DOCTYPE html>
html(lang="fr")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Loading Spinner Animation | HTML and CSSgit init
    link(rel="stylesheet", href="index.css")
  body
    .loader
      .loader-spinner

    h1 Loading Animation